<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0group.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{0,0},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{130,0},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{260,0},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{400,0},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{1660,0},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{0,202},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{140,202},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{280,202},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{420,202},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{560,202},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{700,202},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{840,202},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{980,202},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{1120,202},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{540,0},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{1260,202},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{1400,202},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{1540,202},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{1680,202},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{0,404},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{140,404},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{280,404},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{420,404},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{560,404},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{700,404},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{680,0},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{840,404},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{980,404},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{1120,404},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{1260,404},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{1400,404},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{1540,404},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{1680,404},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{0,606},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{140,606},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{280,606},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{820,0},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{420,606},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{560,606},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{700,606},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{840,606},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{980,606},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{1120,606},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{1260,606},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{1400,606},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{960,0},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{1100,0},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{1240,0},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{1380,0},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{1520,0},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{140,202}</string>
                <key>textureRect</key>
                <string>{{1540,606},{140,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards_140x202.png</string>
            <key>size</key>
            <string>{1820,808}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef72591068a8aa91112da9d4b0904079:bcb5105a9bd96d47ee478c4df77efe2f:91b0393ee5730bad6df657663a2a9401$</string>
            <key>textureFileName</key>
            <string>cards_140x202.png</string>
        </dict>
    </dict>
</plist>
