<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0group.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{0,0},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{130,0},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{780,192},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{260,0},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{520,192},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{650,192},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{520, 576},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{0,384},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{130,384},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{260,384},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{390,384},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{520,384},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{650,384},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{780,384},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{390,0},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{0,384},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{130,576},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{260,576},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{390,576},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{260,960},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{650,576},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{780,576},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{0,768},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{130,768},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{260,768},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{520,0},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{390,768},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{520,768},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{650,768},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{780,768},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{0,960},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{130,960},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{0,1344},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{390,960},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{520,960},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{650,960},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{650,0},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{780,960},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{0,1152},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{130,1152},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{260,1152},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{390,1152},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{520,1152},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{650,1152},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{780,1152},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{780,0},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{0,192},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{130,192},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{260,192},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{390,192},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cards-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,193}</string>
                <key>spriteSourceSize</key>
                <string>{130,193}</string>
                <key>textureRect</key>
                <string>{{130,1344},{130,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards_130x192.png</string>
            <key>size</key>
            <string>{910,1537}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:885f2ec4e664702d2eb50bf5d55a9939:161a8dfbb25f179675aac2f2f311c5fc:5638c5691b81af3d13d97fc1697b621b$</string>
            <key>textureFileName</key>
            <string>cards_130x192.png</string>
        </dict>
    </dict>
</plist>
